streamlit
PyPDF2
langchain 
langchain-core
langchain-google-genai
langchain-text-splitters
langchain-community
google-generativeai
faiss-cpu
sentence-transformers
tiktoken
python-dotenv
langchain-huggingface
